.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cac
he

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
abuild/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
aout/
aProductService.java
a/kodilla-patterns/build/
